# name=PlaneFinder
# desc=解锁PlaneFinder高级订阅
# homepage=https://github.com/I-am-R-E/Functional-Store-Hub/tree/Master/PlaneFinder
# update = 2022-09-14
# RawURL = https://raw.githubusercontent.com/InnocenseYu/QuanConf/main/rewrite/I-am-R-E/PlaneFinder.snippet

^https?:\/\/app\-live\.planefinder\.net\/api\/v\d+\/account\/\w+\/login url script-response-body https://raw.githubusercontent.com/I-am-R-E/Functional-Store-Hub/Master/PlaneFinder/Script/PlaneFinder.js

# need login
hostname = app-live.planefinder.net
